:host {
  display: block;
  font-family: Inter, system-ui, sans-serif;
  color: #efefef;
  background: #6596ab;
}

.app-shell {
  min-height: 100vh;
  padding: 2rem;
}

h1 {
  color: rgb(197, 0, 0);
}

h2 {
  color: #4b00d5;
}